# --- Environnement & Sécurité ---
.env
*.log

# --- Système & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

.agents/
.aidesigner/
.claude/
.mcp.json

.shopify/
node_modules/
dist/
.aidesigner/*
!.aidesigner/.gitkeep
